<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
    <div class="col-md-4" style="margin-top: 160px;">
        <h1><span>ShOp</span>-ME</h1>
        <h2>100% Responsive Design</h2>
        <p class="p" style="font-family:Arial, Helvetica, sans-serif;font-size: 17px;">Online shopping is a form of electronic commerce which <br>
            allows consumers to directly buy goods or services<br> 
            from a seller over the Internet using a web browser<br> or a mobile app.</p>
        <button type="button" class="btn btn-default get">Get it now</button>
    </div>
    <div class="col-md-4" style="margin-top: 60px;">
        <img src="assets/girl2.jpg" class="girl img-responsive" alt="" />
        <img src="assets/pricing.png" class="pricing" alt="" />
    </div>
    <div class="col-md-2"></div>
</div>
</div>