<div class="conatiner-fluid">
    <div class="row">
        <div class="col-md-2" style="margin-top: 25px;">
            <div class="card filters">

                <div class="card-header">
                    <strong>Filter Option</strong>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="from">From Price</label>
                            <input type="number" id="from" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="to">To Price</label>
                            <input type="number" id="to" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="number" id="to" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="pincode">Availability</label>
                            <input type="text" id="to" class="form-control" placeholder="Enter area code">
                        </div>

                        <div class="form-group">
                            <label for="pincode">Location</label>
                            <input type="text" id="to" class="form-control" placeholder="Location">
                        </div>

                        <button class="btn btn-danger btn-block btn-sm">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="margin-top: 30px;">
            <h1 class="h1" style="text-align:center;font-family: 'Times New Roman', Times, serif;color: rgb(136, 16, 76);"> Men's Fashion</h1><br>

            <div class="row">
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/13.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Black Tshirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs.</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/2.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Formal Shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/3.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Casual Shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/4.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Formal Shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/5.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Printed Shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/6.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Seme Formal</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs.</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/7.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">T shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/8.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Black Tshirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/9.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Line Tshirsts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/10.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Tshirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs.</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/11.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">lining shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px;margin-left: 30px;">
                    <img src="assets/mens/12.jpg" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Formal Shirts</h4>
                        <p class="card-text">Men's T-shirts - Buy T-shirts for<br> men online in India. Choose from a<br> more Men's T-shirts in various designs..</p>
                        <div class="card-body" style="text-align: center;">
                            <a href="#" class="card-link">Product</a>
                            <a href="#" class="card-link">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 25px;">
            <p style="font-weight: bold;font-size: 20px;">Total Item's</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="cart-item">
                        <span>Product 1</span> x <span>2</span>: <strong> &#8377;250 </strong>
                    </div>
                </li>

                <li class="list-group-item active">
                    <strong>Total</strong> &#8377;500 
                </li>
            </ul>
            <button style="margin-top: 30px;" type="button" class="btn btn-danger btn-block">Buy Now</button>
            <!-- <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top p-2" width="100%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Rubik%27s_cube_scrambled.svg/1200px-Rubik%27s_cube_scrambled.svg.png" />
            
                <div class="card-body">
                    <p class="card-text">
                        <strong>{{ 254 :'INR' }}</strong> 
                    </p>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>